<div id="gyik" class="hidden-top"></div>
<hr>
<h3 style="text-align: center">Gyakori Kérdések</h3>
<hr>
<div class="container">
  <div class="row">
    <div *ngFor="let item of data" class="col-sm-12 col-md-6">
      <h4>{{item.question}}</h4>
      <p [innerHTML]=item.answer></p>
    </div>
  </div>
</div>


