<section class="jumbotron text-center">
  <div class="container">
    <div class="media row">
      <div class="col-sm-12 col-md-6">
        <img src="{{data.logo}}" class="img-fluid">
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="media-body">
          <h1 class="mt-0 jumbotron-heading">{{data.title}}</h1>
          <p class="lead text-muted">{{data.description}}</p>
          <p>
            <a href="{{data.buttonLeft.url}}"
               class="btn btn-success my-2"
               style="background-color:#8EC044; border-color:#8EC044">{{data.buttonLeft.title}}</a>
            &nbsp;
            <a href="{{data.buttonRight.url}}" class="btn btn-secondary my-2"
               target="_blank">{{data.buttonRight.title}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
