<hr class="top-hr">
<footer class="text-muted" *ngIf="data">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{data.title}}</h2>
        <div id="kapcsolat">
        <p *ngFor="let item of data.text">
          {{item}}
        </p>
        </div>
      </div>
    </div>
  </div>
</footer>
