footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url('../../assets/section-background-white.jpg');
}

footer p {
  margin-bottom: .25rem;
}

.top-hr {
  margin-bottom: 0px;
  margin-left: 0px;
}
