<div id="galeria">
  <ngb-carousel *ngIf="data" #carousel interval="3000" [pauseOnHover]=true [showNavigationIndicators]=false>
    <div *ngFor="let item of data">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img-fluid" [src]="item.imageUrl" alt="{{item.altText}}">
        </div>
        <div class="carousel-caption">
          <h3>{{item.imageTitle}}</h3>
          <p>{{item.imageText}}</p>
        </div>
      </ng-template>
    </div>
  </ngb-carousel>
</div>

