<div>
  <div class="row">
    <div class="col-sm-12">
      <app-navigation [data]="menuData"></app-navigation>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" data-aos="zoom-in" data-aos-once="true">
      <app-header [data]="headerData"></app-header>
    </div>
  </div>
  <div class="row" id="media">
    <div class="col-sm-12 col-md-1"></div>
    <div class="col-sm-12 col-md-5">
      <app-gallery [data]="galleryData" style="margin: auto"></app-gallery>
    </div>
    <div class="col-sm-12 col-md-5">
      <app-videos [data]="videoData"></app-videos>
    </div>

  </div>
  <div class="row">
    <div *ngFor="let item of sectionData" class="col-sm-12" data-aos="zoom-in">
      <app-section [data]="item"></app-section>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" data-aos="zoom-in">
      <app-faq [data]="faqData"></app-faq>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-footer [data]="contactData"></app-footer>
    </div>
  </div>
</div>

<!-- TODO more tests -->


