<div id="{{data.divId}}" class="hidden-top"></div>
<div class="section-content">
  <div class="col-sm-12">
    <div class="section-header">
      <hr>
      <div class="container">
        <h3>{{data.title}}</h3>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="section-text">
        <p [innerHTML]=data.text></p>
      </div>
    </div>
  </div>
</div>
