.section-content {
  min-height: 350px;
  background-color: #f7f7f7;
}

.section-content hr {
  margin-top: 0px;
  margin-left: 0px;
}

.section-header {
  text-align: center;
  margin-bottom: 10px;
}

.section-text {
  padding-top: 20px;
  padding-bottom: 10px;
}

.hidden-top {
  padding-top: 55px;
}
