<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top">
  <a class="navbar-brand" href="#">
    <img id="small-logo" src="../../assets/Hun-motor-logo-50white-small.png">
    <strong>Hun-motor</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of data" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="{{item.url}}">{{item.name}}</a>
      </li>
    </ul>
  </div>
</nav>
