:root {
  --jumbotron-padding-y: 3.5rem;
}

.container {
  font-size: 1em;
}

.carousel-control-prev {
  width: 40px;
}

.carousel-control-next {
  width: 40px;
}

.carousel-control-next-icon {
  background-color: #000 !important;
  width: 30px !important;
  height: 50px !important;
}

.carousel-control-prev-icon {
  background-color: #000 !important;
  width: 30px !important;
  height: 50px !important;
}

.carousel-indicators {
  background-color: #0005 !important;
}
